{% extends "site_admin/layouts/base.html" %}
{% block page_title %}Admin - bonus getters {% endblock %}
{% load humanize %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                    {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                {{ message }}
                            </span>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="clearfix"></div>
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Users that selected bonus &nbsp;({{player_no}}&nbsp;<i class="fa fa-user"></i>)</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    S/N
                                </th>
                                <th>
                                    Username
                                </th>
                                </thead>
                                <tbody>
                                {% for player in players %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ player.user.username }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="100%" class="text-center">No bonus users available</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}